﻿@model Dashboard.Web.Models.BranchPostingsJob

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>AMB Updates Occur in the Early Morning.<br />Therefore, posting requests must be made after the last period update for AMB</strong>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BranchPostingsJob</h4>
        <hr />
        @Html.ValidationSummary(true) 
        
        @Html.TextBoxFor(model => model.RequestDate, new { @Value=DateTime.Now.ToShortDateString(), style="visibility: hidden"})            
        @Html.ValidationMessageFor(model => model.RequestDate)

        <div class="form-group">
            @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Month, new { @Value = DateTime.Now.AddMonths(-1).Month})
                @Html.ValidationMessageFor(model => model.Month)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Year, new { @Value = DateTime.Now.Year})
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
