﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using GridMvc.Html;

@model IEnumerable<Dashboard.Web.Models.vwBranchPostingsLoanLoss>
    <div style="width:100%;" class="sample-panel-margin">
        @Html.Grid(Model).Columns(columns =>
        {
        columns.Add(c => c.Date).Titled("Date").Format("{0:MM/dd/yyyy}").Filterable(true);
        columns.Add(c => c.Account).Titled("Account").Filterable(true);
        columns.Add(c => c.LoanLossReserveIncrease).Titled("Loan Loss Reserve Increase").Css("currency");
        columns.Add(c => c.LoanLossReserveBal).Titled("Loan Loss Reserve Balance").Css("currency");
        }).WithPaging(50).Sortable(true)
    </div>
    
     <span>
        @Html.ActionLink("Download CSV File", "DownloadLLR", new { id=ViewBag.JobId }) 
        <br />
        @Html.ActionLink("Back To Postings Page", "Index") 
    </span>

    @section Scripts {
    @Scripts.Render("~/Scripts/gridmvc.min.js")
    }

    @section Styles {
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    }
