﻿@model Dashboard.Web.Models.BranchPostingsJob

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>AMB Updates Occur in the Early Morning.<br/>Therefore, posting requests must be made after the last period update for AMB</strong>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </th>
        <th colspan="2">
            Loan Loss Reserve
        </th>
        <th colspan="2">
            ARO Override
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
           @Html.DisplayFor(model => model.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.Month)
        </td>
        <td>
            @Html.DisplayFor(model => model.Year)
        </td>
        <td>
            @if (ViewBag.CompleteDate != null) {
                @Html.DisplayFor(model => model.CompleteDate)
            }
            else {
                @Html.Raw("Pending")
            }
        </td>
        <td>
            @if (ViewBag.CompleteDate != null) {
                @Html.ActionLink("Balances", "CtrlRptLLR", new { id=ViewBag.JobId }) 
            }
        </td>
        <td>
            @if (ViewBag.CompleteDate != null) {
                @Html.ActionLink("Download CSV File", "DownloadLLR", new { id=ViewBag.JobId })
            }
        </td>
        <td>
            @if (ViewBag.CompleteDate != null) {
                @Html.ActionLink("Balances", "CtrlRptARO", new { id=ViewBag.JobId }) 
            }
        </td>
        <td>
            @if (ViewBag.CompleteDate != null) {
                @Html.ActionLink("Download CSV File", "DownloadARO", new { id=ViewBag.JobId }) 
            }
        </td>
        <td>            
            @Html.ActionLink("Delete", "Delete", new { id=ViewBag.JobId })
        </td>
    </tr>

</table>
