﻿.ajax_overlay {
}

.ajax_loader {
    background: url('../Content/loading.gif') no-repeat center center transparent;
    width: 100%;
    height: 100%;
    background-image: url('../Content/loading.gif');
}
