﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 250px;
    max-height: 150px;
}

#Comment {
    max-width: 550px;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

.detailTable
{
	border-collapse: collapse;
}

.detailTable.td {
	padding-left: 5px;
	padding-right: 5px;
}

.detailHeader {
	padding-left: 7px; 
	padding-right: 7px; 
	text-decoration: underline;
}

.detailCellStr {
	padding-left: 5px;
	padding-right: 5px;
}

.amtCell {
	text-align: right;
}

.total {
	text-align: right;
	font-weight: bold; 
	border-bottom: 3px double black;
}

.rowLabel {
	font-weight: bold;
}

#negative {
	color: red;
}

.jumbotron {
	height: 230px;
}

#aroLogoDiv {
	top: -15px;    
	z-index: 9999;
}

#aroLogo {
	top: 50px;
	right: 100px;
	position: absolute;
	z-index: 9999;
}

#gradientDiv {
	background-repeat: no-repeat;
	left: -60px;
	padding: 0;
	position: relative;
	top: -20px;
}

.rankSection {
	text-align: center;
	line-height: 12px;
}

.rankHeader {
	color: #386ab3;
	font-size: 12px;
}

.rankText {
	color: black;
}

.rankNumber {
	color: #386ab3;
	font-size: 64pt;
	font-weight: 800;
}

.navbar-inverse {
	background-color: #386ab3;
}

.navbarlist {
	color: #FFFFFF !important;
}

#btnPdf {
	display: block;
	position: fixed;
	right: 2em;
}

.btnRpt {
	width: 105px !important;
}

.btnSpan {
	padding-left: 20px;
}

.bpsFirstPlace {
    font-weight: bold; background-color: #8BC34A !important;
}

.bps2nd3rd {
    background-color: #8BC34A !important;
}

.bpsTable {
    overflow: auto; height: 700px; padding-top: 10px;
}