﻿@using System.Diagnostics.Eventing.Reader
@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Forgot Password Form</legend>
        
        @Html.Label("User Name", new { @for = "UserName" })
        @Html.TextBox("UserName")

        @if (TempData["Message"] != null)
        {

            if (TempData["Message"].ToString() != "Mail Sent.")
            {
                <div style="color: red;"><br/>@TempData["Message"]</div>

                <br/><input type="submit" value="Recover" class="btn btn-default"/>
            }
            else
            {
                <div style="color: green;"><br/>An Email Has Been Sent To You With Instructions On How to Reset Your Password</div>
            }
        }
        else
        {
             <br/><br/><input type="submit" value="Recover" class="btn btn-default"/>
        }
    </fieldset>
}
