﻿@model Dashboard.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_Header")

    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <i>Must be at least 8 chars & include at least 1 non-alphanumeric character (ex. !#$%^&*()_+)</i>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <span class="alert-danger">WARNING: You must use your corp. email (.goalterra.com or .goVFG.com)</span>
            <br />
            <span class="alert-warning">All other accounts will be rejected.</span>
        </div>
    </div>

    // hide the branch id for rev. 1.3 since users may be regional managers
    @Html.HiddenFor(m => m.BranchId, new { Value = 0 })


    <div class="form-group">
        <div class="col-md-2 control-label">
            <b>Please Read</b>
        </div>
        <div class="col-md-10">
            <div style="width: 600px; height: 300px; border: 1px solid black; overflow: scroll; background-color: white">
                <div class=WordSection1>

                    <p class=MsoNormal>
                        <span style='font-size:14.0pt;line-height:107%'>
                            Terms and
                            Conditions of Use (&quot;Terms&quot;) <o:p></o:p>
                        </span>
                    </p>

                    <p class=MsoNormal>
                        <b style='mso-bidi-font-weight:normal'>Last updated</b>:
                        (4/27/2015)
                    </p>

                    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                    <p class=MsoNormal>
                        Please read these Terms and Conditions (&quot;Terms and
                        Conditions&quot;) carefully before using http://aros.goventa.com (“AROS”)
                        website (the &quot;Service&quot;) operated by Venta Financial Group. Inc. (“VFG”).
                    </p>

                    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Acceptance:<o:p></o:p></b></p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        Your access to and use of the
                        Service is conditioned on your acceptance of and compliance with these Terms.
                        These Terms and Conditions apply to all visitors, users and others who access
                        or use the Service. By accessing or using the Service you agree to be bound by
                        these Terms. If you disagree with any part of the terms then you may not access
                        the Service.
                    </p>

                    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Conditional Use:<o:p></o:p></b></p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        Your use of this service is NOT
                        mandatory. It has been provided to you to assist in your work with VFG.
                    </p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        Dependent on your role at VFG, this
                        service will provide you with access to various reports. Amongst others, this
                        service provides a [Consumer Finance Protection Bureau (“CFPB”) compliant] ARO
                        Detail Report and Branch Reserve Report. These CFPB compliant reports do not
                        mirror or represent a “financial report” but, in the computing of revenue,
                        takes into consideration (a) contract terms of various users and, (b) rules and
                        regulation as imposed by the CFPB.
                    </p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        Certain government agencies, i.e.
                        CFPB, and VFG change their business requirements from time to time. The
                        continued development of this system may result in changes that, as a result of
                        regulatory requirements, may appear to be in conflict with current provisions
                        of agreements between VFG and the users of this system. Government and Industry
                        regulatory requirements will always be implemented and supersede any other
                        agreement, written or otherwise, so as to remain in compliance with the law.
                    </p>

                    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Termination <o:p></o:p></b></p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        We may terminate or suspend access
                        to our Service immediately, without prior notice or liability, for any reason
                        whatsoever, including without limitation if you breach the Terms. All
                        provisions of the Terms which by their nature should survive termination shall
                        survive termination, including, without limitation, ownership provisions,
                        warranty disclaimers, indemnity and limitations of liability.
                    </p>

                    <span style='font-size:11.0pt;line-height:107%;font-family:"Calibri","sans-serif";
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA'>
                        <br clear=all style='mso-special-character:line-break;
page-break-before:always'>
                    </span>

                    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Governing Law <o:p></o:p></b></p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        These Terms shall be governed and
                        construed in accordance with the laws of the State of Nevada without regard to
                        its conflict of law provisions.
                    </p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        Our failure to enforce any right or
                        provision of these Terms will not be considered a waiver of those rights. If
                        any provision of these Terms is held to be invalid or unenforceable by a court,
                        the remaining provisions of these Terms will remain in effect. These Terms
                        constitute the entire agreement between us regarding our Service, and supersede
                        and replace any prior agreements we might have between us regarding the
                        Service.
                    </p>

                    <p class=MsoNormal style='margin-left:.5in'>Changes </p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        We reserve the right, at our sole
                        discretion, to modify or replace these Terms at any time. If a revision is
                        material we will try to provide at least 30 (change this) day’s notice prior to
                        any new terms taking effect. What constitutes a material change will be
                        determined at our sole discretion.
                    </p>

                    <p class=MsoNormal style='margin-left:.5in'>
                        By continuing to access or use our
                        Service after those revisions become effective, you agree to be bound by the
                        revised terms. If you do not agree to the new terms, please stop using the
                        Service.
                    </p>

                    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                    <p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Contact Us <o:p></o:p></b></p>

                    <p class=MsoNormal style='text-indent:.5in'>
                        If you have any questions about
                        these Terms, please contact us.
                    </p>

                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.5in'>
                        <span style='mso-tab-count:1'>                </span>Venta Financial
                        Group, Inc.
                    </p>

                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.5in'><span style='mso-tab-count:1'>                </span>1300 Jones Blvd.</p>

                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.5in'><span style='mso-tab-count:1'>                </span>Las Vegas, NV</p>

                    <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:
.5in'><span style='mso-tab-count:1'>                </span>(702) 588-5430</p>

                    <p class=MsoNormal style='text-indent:.5in'><span style='mso-tab-count:1'>                </span></p>

                    <p class=MsoNormal><o:p>&nbsp;</o:p></p>

                </div>
            </div>
            <br /><b>By registering you have agreed that you have read this form thoroughly and agree to the conditions set forth above</b>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
