﻿@using Dashboard.Web.Models;
@using Microsoft.AspNet.Identity;

    @{
        ViewBag.Title = "Users";

        var users = Membership.GetAllUsers();
    }

    <h2>@ViewBag.Title</h2>

    <ul>
    @foreach (MembershipUser user in users){ 

    <li>@user.UserName.ToString()</li>

    }
</ul>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
