﻿@model Dashboard.Web.Models.BranchHistory

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BranchHistory</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BranchHistoryId)

        <div class="form-group">
            @Html.LabelFor(model => model.BranchId, "BranchId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BranchId", String.Empty)
                @Html.ValidationMessageFor(model => model.BranchId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ARRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ARRate)
                @Html.ValidationMessageFor(model => model.ARRate)
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(
                    m => m.EffectiveDate,
                    new SelectList(
                        ViewBag.EffectiveDates, "Text", "Text"
                        ), "-- Choose One --",
                        new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EffectiveDate)
            </div>
        </div>
        
         @Html.TextBoxFor(model => model.UserName, new {style="visibility: hidden"}) 
         @Html.TextBoxFor(model => model.DateChanged, new { @Value=DateTime.Now.ToShortDateString(), style="visibility: hidden"})  

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
