﻿@{
    ViewBag.Title = "List of ARR Changes";
}

<h2>List of ARR Changes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using GridMvc.Html;

@model IEnumerable<Dashboard.Web.Models.BranchHistory>
    <div style="width:100%;" class="sample-panel-margin">
        @Html.Grid(Model).Columns(columns =>
        {
        columns.Add(c => c.Branch.BranchName).Titled("Branch").Filterable(true);
        columns.Add(c => c.DateChanged).Titled("Date Changed").Format("{0:MM/dd/yyyy}").Filterable(true);
        columns.Add(c => c.EffectiveDate).Titled("Effective Date").Format("{0:MM/dd/yyyy}").Filterable(true);
        columns.Add(c => c.ARRate).Titled("AR Rate");
        columns.Add(c => c.UserName).Titled("User Name").Filterable(true);
        columns.Add().Titled("Edit").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.BranchHistoryId }));
        columns.Add().Titled("Delete").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Delete", "Delete", new { id = c.BranchHistoryId }));
        }).WithPaging(50).Sortable(true)
    </div>
    

    @section Scripts {
    @Scripts.Render("~/Scripts/gridmvc.min.js")
    }

    @section Styles {
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    }

