﻿
    <!--
    tr {
        mso-height-source: auto;
    }

    col {
        mso-width-source: auto;
    }

    br {
        mso-data-placement: same-cell;
    }

    .style16 {
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        mso-style-name: Comma;
        mso-style-id: 3;
    }

    .style18 {
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        mso-style-name: Currency;
        mso-style-id: 4;
    }

    .style0 {
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        white-space: nowrap;
        mso-rotate: 0;
        mso-background-source: auto;
        mso-pattern: auto;
        color: black;
        font-size: 11.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        border: none;
        mso-protection: locked visible;
        mso-style-name: Normal;
        mso-style-id: 0;
    }

    .style20 {
        mso-number-format: 0%;
        mso-style-name: Percent;
        mso-style-id: 5;
    }

    .font18 {
        color: black;
        font-size: 9.0pt;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-family: Tahoma, sans-serif;
        mso-font-charset: 0;
    }

    .font19 {
        color: black;
        font-size: 9.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Tahoma, sans-serif;
        mso-font-charset: 0;
    }

    td {
        mso-style-parent: style0;
        padding: 0px;
        mso-ignore: padding;
        color: black;
        font-size: 11.0pt;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        font-family: Calibri, sans-serif;
        mso-font-charset: 0;
        mso-number-format: General;
        text-align: general;
        vertical-align: bottom;
        border: none;
        mso-background-source: auto;
        mso-pattern: auto;
        mso-protection: locked visible;
        white-space: nowrap;
        mso-rotate: 0;
    }

    .xl93 {
        mso-style-parent: style0;
        font-size: 16.0pt;
        background: white;
        mso-pattern: black none;
    }

    .xl94 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        background: white;
        mso-pattern: black none;
    }

    .xl95 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        text-align: center;
        background: white;
        mso-pattern: black none;
    }

    .xl96 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        background: white;
        mso-pattern: black none;
    }

    .xl97 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        background: #D9D9D9;
        mso-pattern: black none;
    }

    .xl98 {
        mso-style-parent: style0;
        font-size: 12.0pt;
        font-weight: 700;
        background: white;
        mso-pattern: black none;
    }

    .xl99 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        background: white;
        mso-pattern: black none;
    }

    .xl100 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        border-top: none;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl101 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        background: white;
        mso-pattern: black none;
    }

    .xl102 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "\@";
        background: white;
        mso-pattern: black none;
    }

    .xl103 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        background: white;
        mso-pattern: black none;
    }

    .xl104 {
        mso-style-parent: style16;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        background: white;
        mso-pattern: black none;
    }

    .xl105 {
        mso-style-parent: style16;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        background: white;
        mso-pattern: black none;
    }



    .xl107 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        background: white;
        mso-pattern: black none;
    }

    .xl108 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        background: #D9D9D9;
        mso-pattern: black none;
    }

    .xl109 {
        border-bottom-style: double;
        border-top: 1pt solid black;
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: Percent;
        text-align: center;
        background: white;
        mso-pattern: black none;
    }

    .xl110 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl111 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl112 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl113 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl114 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        background: white;
        mso-pattern: black none;
    }

    .xl115 {
        mso-style-parent: style0;
        font-size: 10.0pt;
    }

    .xl116 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: right;
        background: white;
        mso-pattern: black none;
    }

    .xl117 {
        mso-style-parent: style16;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        text-align: right;
        background: white;
        mso-pattern: black none;
    }

    .xl118 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: right;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #EBF1DE;
        mso-pattern: black none;
        font-weight: bold;
    }

    .xl119 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: right;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl120 {
        mso-style-parent: style0;
        font-size: 14.0pt;
        mso-number-format: "\@";
        text-align: left;
        background: white;
        mso-pattern: black none;
    }

    .xl121 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
        border-top: 1.0pt solid windowtext;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl122 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        background: gray;
        mso-pattern: black none;
    }

    .xl123 {
        mso-style-parent: style0;
        font-size: 12.0pt;
        font-weight: 700;
        border-top: none;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl124 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        border-top: none;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl125 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        text-align: center;
        border-top: none;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: white;
        mso-pattern: black none;
        white-space: normal;
    }

    .xl126 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "\@";
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: .5pt solid windowtext;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
        white-space: normal;
    }

    .xl127 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        text-align: left;
    }

    .xl128 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
    }

    .xl129 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
    }

    .xl130 {
        mso-style-parent: style16;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
    }

    .xl131 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
    }

    .xl132 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: 0;
        text-align: center;
    }

    .xl133 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: 0;
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
    }

    .xl134 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        text-align: center;
        mso-protection: unlocked visible;
    }

    .xl135 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        text-align: center;
    }

    .xl136 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\0022$\0022\#\,\#\#0\.00_\)\;\[Red\]\\\(\0022$\0022\#\,\#\#0\.00\\\)";
        text-align: center;
    }

    .xl137 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\0022$\0022\#\,\#\#0\.00_\)\;\[Red\]\\\(\0022$\0022\#\,\#\#0\.00\\\)";
        text-align: center;
        mso-protection: unlocked visible;
    }

    .xl138 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        mso-protection: unlocked visible;
    }

    .xl139 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "\@";
    }

    .xl142 {
        mso-style-parent: style16;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
    }

    .xl143 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
    }

    .xl144 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
    }

    .xl145 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl146 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl147 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl148 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom-style: double;
        border-left: 1.0pt solid windowtext;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl149 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl150 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl151 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        background: gray;
        mso-pattern: black none;
    }

    .xl152 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        background: #D9D9D9;
        mso-pattern: black none;
    }

    .xl153 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
    }

    .xl154 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        text-align: center;
    }

    .xl155 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
    }

    .xl156 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: Percent;
        text-align: center;
    }

    .xl157 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: Percent;
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
    }

    .xl159 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "\@";
    }

    .xl160 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl161 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl162 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: Percent;
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl163 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: Percent;
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom-style: double;
        border-left: 1.0pt solid windowtext;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl164 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl165 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl166 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl167 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: Percent;
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl168 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: Percent;
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom-style: double;
        border-left: 1.0pt solid windowtext;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl169 {
        mso-style-parent: style0;
        color: black;
        font-size: 8.0pt;
        font-family: Arial, sans-serif;
        mso-font-charset: 0;
        mso-number-format: "\@";
    }

    .xl170 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
    }

    .xl171 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
    }

    .xl172 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: Percent;
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
    }

    .xl173 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: Percent;
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom-style: double;
        border-left: 1.0pt solid windowtext;
    }

    .xl174 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
    }

    .xl175 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
    }

    .xl176 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "0\.000%";
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
    }

    .xl177 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "0\.000%";
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom-style: double;
        border-left: 1.0pt solid windowtext;
    }

    .xl178 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    .xl179 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    .xl180 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "0\.000%";
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    .xl181 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "0\.000%";
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
    }

    .xl182 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    .xl183 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    .xl184 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl185 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl186 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl187 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl188 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom: .5pt solid windowtext;
        border-left: 1.0pt solid windowtext;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl189 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #F2DCDB;
        mso-pattern: black none;
    }

    .xl190 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #EBF1DE;
        mso-pattern: black none;
    }

    .xl191 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #EBF1DE;
        mso-pattern: black none;
    }

    .xl192 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #EBF1DE;
        mso-pattern: black none;
    }

    .xl193 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #EBF1DE;
        mso-pattern: black none;
    }

    .xl194 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom: .5pt solid windowtext;
        border-left: 1.0pt solid windowtext;
        background: #EBF1DE;
        mso-pattern: black none;
    }

    .xl195 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\#\,\#\#0\.00_\)\;\[Red\]\\\(\#\,\#\#0\.00\\\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: #EBF1DE;
        mso-pattern: black none;
    }

    .xl196 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\#\,\#\#0\.00_\)\;\[Red\]\\\(\#\,\#\#0\.00\\\)";
    }

    .xl197 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: Percent;
        text-align: right;
    }

    .xl198 {
        mso-style-parent: style16;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
    }

    .xl199 {
        mso-style-parent: style16;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
    }

    .xl200 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: right;
    }

    .xl201 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
    }

    .xl202 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom-style: double;
        border-left: 1.0pt solid windowtext;
    }

    .xl203 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "\@";
        background: #C5D9F1;
        mso-pattern: black none;
    }

    .xl204 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "\@";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #C5D9F1;
        mso-pattern: black none;
    }

    .xl205 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #C5D9F1;
        mso-pattern: black none;
    }

    .xl206 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #C5D9F1;
        mso-pattern: black none;
    }

    .xl207 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: Percent;
        text-align: center;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #C5D9F1;
        mso-pattern: black none;
    }

    .xl208 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: Percent;
        text-align: center;
        border-top: 1pt solid black;
        border-right: 1.0pt solid windowtext;
        border-bottom-style: double;
        border-left: 1.0pt solid windowtext;
        background: #C5D9F1;
        mso-pattern: black none;
    }

    .xl209 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #C5D9F1;
        mso-pattern: black none;
    }

    .xl210 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        background: #C5D9F1;
        mso-pattern: black none;
    }

    .xl211 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        border-top: 1pt solid black;
        border-right: none;
        border-bottom-style: double;
        border-left: none;
        background: #D8E4BC;
        mso-pattern: black none;
    }

    .xl212 {
        mso-style-parent: style16;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.0000_\)\;_\(* \\\(\#\,\#\#0\.0000\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        background: white;
        mso-pattern: black none;
    }

    .xl213 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        font-weight: 700;
        mso-number-format: Percent;
        text-align: center;
        background: white;
        mso-pattern: black none;
    }

    .xl214 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: Percent;
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl215 {
        mso-style-parent: style20;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: Percent;
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: 1.0pt solid windowtext;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl216 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        border-top: 1.0pt solid windowtext;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl217 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl218 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        background: white;
        mso-pattern: black none;
    }

    .xl219 {
        mso-style-parent: style16;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl220 {
        mso-style-parent: style18;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        border-top: 1pt solid black;
        border-right: none;
        border-bottom: .5pt solid windowtext;
        border-left: none;
        background: white;
        mso-pattern: black none;
    }

    .xl221 {
        mso-style-parent: style18;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: "_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl222 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        mso-number-format: "_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
        background: gray;
        mso-pattern: black none;
    }

    .xl223 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        mso-number-format: Percent;
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: none;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl224 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
        border-top: none;
        border-right: 1.0pt solid windowtext;
        border-bottom: 1.0pt solid windowtext;
        border-left: 1.0pt solid windowtext;
        background: white;
        mso-pattern: black none;
    }

    .xl225 {
        mso-style-parent: style0;
        font-size: 10.0pt;
        font-weight: 700;
        background: white;
        mso-pattern: black none;
        white-space: normal;
    }

    .xl226 {
        mso-style-parent: style0;
        white-space: normal;
    }

    .xl227 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
        background: white;
        mso-pattern: black none;
    }

    .xl228 {
        mso-style-parent: style0;
        color: windowtext;
        font-size: 10.0pt;
        text-align: center;
    }

    td.xl116 > span:first-child, td.xl118 > span:first-child, td.xl112 > span:first-child, td.xl107 > span:first-child, td.xl119 > span:first-child {
        float: left;
        padding-left: 15px;
    }
     -->
