﻿<tr height="20" style="height:15.0pt">
    <td height="20" class="xl10924410" style="height:15.0pt"></td>
    <td class="xl11024410" colspan="3">ALLOCATIONS TO RESERVES</td>
    <td class="xl10924410"></td>
    <td class="xl10724410"></td>
    <td class="xl13224410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
    <td class="xl13324410"></td>
</tr>
<tr height="20" style="height:15.0pt">
    <td height="20" class="xl10924410" style="height:15.0pt"></td>
    <td class="xl10924410"></td>
    <td class="xl11024410"></td>
    <td class="xl11024410" colspan="3">Reserve Allocations</td>
    <td class="xl11624410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
    <td class="xl1524410"></td>
</tr>
<tr height="20" style="height:15.0pt">
    <td height="20" class="xl10924410" style="height:15.0pt"></td>
    <td class="xl10924410"></td>
    <td class="xl11024410"></td>
    <td class="xl10924410" colspan="3">Branch Loan Loss Reserve Increase</td>
    <td class="xl10924410 percentCell">
        <span> </span><span id="G121">$G$121</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="H21">$H$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="I21">$I$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="J21">$J$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="K21">$K$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="L21">$L$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="M21">$M$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="N21">$N$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="O21">$O$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="P21">$P$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="Q21">$Q$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="R21">$R$21</span><span></span>
    </td>
    <td class="xl9324410">
        <span>$</span><span id="S21">$S$21</span><span></span>
    </td>
    <td class="rowTotal">
        <span>$</span><span id="T21">$T$21</span>
    </td>
    <td class="rowAvgDollar">
        <span>$</span><span id="U21">$U$21</span>
    </td>
    <td class="rowAvgPercent">
        <span id="V21">$V$21</span>
    </td>
</tr>
<tr height="20" style="height:15.0pt">
    <td height="20" class="xl10924410" style="height:15.0pt"></td>
    <td class="xl10924410"></td>
    <td class="xl11024410"></td>
    <td class="xl10924410" colspan="2">
        Paid Back to Corporate<span> </span>
    </td>
    <td class="xl11024410"></td>
    <td class="xl11024410"></td>
    <td class="xl9324410">
        <span> </span><span id="H22">$H$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="I22">$I$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="J22">$J$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="K22">$K$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="L22">$L$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="M22">$M$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="N22">$N$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="O22">$O$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="P22">$P$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="Q22">$Q$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="R22">$R$22</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="S22">$S$22</span><span></span>
    </td>
    <td class="rowTotal"><span id="T22">$T$22</span></td>
    <td class="rowAvgDollar"><span id="U22">$U$22</span><span></span></td>
    <td class="rowAvgPercent"><span id="V22">$V$22</span><span></span></td>
</tr>
<tr height="20" style="height:15.0pt">
    <td height="20" class="xl10924410" style="height:15.0pt"></td>
    <td class="xl10924410"></td>
    <td class="xl11024410"></td>
    <td class="xl10924410" colspan="2">
        Paid into Branch Reserves
    </td>
    <td class="xl11024410"></td>
    <td class="xl11024410"></td>
    <td class="xl9324410">
        <span> </span><span id="H23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="I23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="J23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="K23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="L23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="M23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="N23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="O23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="P23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="Q23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="R23"></span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="S23"></span><span></span>
    </td>
    <td class="rowTotal"><span id="T23">$T$23</span></td>
    <td class="rowAvgDollar"><span id="U23">$U$23</span><span></span></td>
    <td class="rowAvgPercent"><span id="V23">$V$23</span><span></span></td>
</tr>
<tr height="20" style="height:15.0pt">
    <td height="20" class="xl10924410" style="height:15.0pt"></td>
    <td class="xl10924410"></td>
    <td class="xl11024410"></td>
    <td class="xl10924410" colspan="2">
        Adjustments to/from Reserves
    </td>
    <td class="xl11024410"></td>
    <td class="xl11024410"></td>
    <td class="xl9324410">
        <span> </span><span id="H24">$H$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="I24">$I$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="J24">$J$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="K24">$K$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="L24">$L$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="M24">$M$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="N24">$N$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="O24">$O$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="P24">$P$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="Q24">$Q$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="R24">$R$24</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="S24">$S$24</span><span></span>
    </td>
    <td class="rowTotal"><span id="T24">$T$24</span></td>
    <td class="rowAvgDollar"><span id="U24">$U$24</span><span></span></td>
    <td class="rowAvgPercent"><span id="V24">$V$24</span><span></span></td>
</tr>
<tr height="20" style="height:15.0pt">
    <td height="20" class="xl10924410" style="height:15.0pt"></td>
    <td class="xl10924410"></td>
    <td class="xl11024410"></td>
    <td class="xl10724410" colspan="2">
        Borrowed from Reserve Accounts
    </td>
    <td class="xl10924410"></td>
    <td class="xl10924410"></td>
    <td class="xl9324410">
        <span> </span><span id="H25">$H$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="I25">$I$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="J25">$J$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="K25">$K$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="L25">$L$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="M25">$M$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="N25">$N$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="O25">$O$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="P25">$P$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="Q25">$Q$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="R25">$R$25</span><span></span>
    </td>
    <td class="xl9324410">
        <span> </span><span id="S25">$S$25</span><span></span>
    </td>
    <td class="rowTotal xl9324410"><span id="T25">$T$25</span></td>
    <td class="rowAvgDollar xl9324410"><span id="U25">$U$25</span><span></span></td>
    <td class="rowAvgPercent"><span id="V25">$V$25</span><span></span></td>
</tr>
<tr height="21" style="height:15.75pt; visibility: hidden">
    <td height="21" class="xl10924410" style="height:15.75pt"></td>
    <td class="xl10924410"></td>
    <td class="xl11024410"></td>
    <td class="xl11224410" colspan="3">Total 7900 - Reserve Account</td>
    <td class="xl12024410"></td>
    <td class="xl10024410">
        <span>$</span><span id="H26">$H$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="I26">$I$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="J26">$J$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="K26">$K$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="L26">$L$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="M26">$M$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="N26">$N$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="O26">$O$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="P26">$P$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="Q26">$Q$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="R26">$R$26</span><span></span>
    </td>
    <td class="xl10024410">
        <span>$</span><span id="S26">$S$26</span><span></span>
    </td>
    <td class="rowTotal">
        <span>$</span><span id="T26">$T$26</span>
    </td>
    <td class="rowAvgDollar">
        <span id="U26">$U$26</span>
    </td>
    <td class="rowAvgPercent"><span id="V26">$V$26</span><span></span></td>
</tr>
<tr height="21" style="height:15.75pt; visibility: hidden">
    <td height="21" class="xl14624410" style="height:15.75pt"></td>
    <td class="xl14724410" colspan="4">Hidden Total Expenses and Allocations to Capital</td>
    <td class="xl14924410"></td>
    <td class="xl15024410"><span id="G28">$G$28</span></td>
    <td class="xl15124410">
        <span>$</span><span id="H28">$H$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="I28">$I$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="J28">$J$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="K28">$K$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="L28">$L$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="M28">$M$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="N28">$N$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="O28">$O$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="P28">$P$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="Q28">$Q$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="R28">$R$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="S28">$S$28</span><span></span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="T28">$T$28</span>
    </td>
    <td class="xl15124410">
        <span>$</span><span id="U28">$U$28</span>
    </td>
    <td class="xl15124410">
        <span id="V28">$V$28</span>
    </td>
</tr>
<tr height="21" style="height:15.75pt">
    <td height="21" class="xl1524410" style="height:15.75pt"></td>
    <td class="xl13524410" colspan="4">Net Income (loss) to Reserve Account</td>
    <td class="xl13724410"></td>
    <td class="xl13824410"><span id="G30">$G$30</span></td>
    <td class="xl13924410">
        <span> </span><span id="H30">$H$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="I30">$I$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="J30">$J$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="K30">$K$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="L30">$L$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="M30">$M$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="N30">$N$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="O30">$O$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="P30">$P$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="Q30">$Q$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="R30">$R$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="S30">$S$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="T30">$T$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="U30">$U$30</span><span></span>
    </td>
    <td class="xl13924410">
        <span> </span><span id="V30">$V$30</span><span></span>
    </td>
</tr>