<script src="../Scripts/accounting.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../Templates/Scripts/ProfitLossReserveAccounts2015.js"></script>
<script src="../Templates/Scripts/Utilities.js?ver=1"></script>

<link href="../Templates/Styles/ProfitLossReserveAccounts.css" rel="stylesheet" />

<table border=0 cellpadding=0 cellspacing=0 width=2925 style='table-layout:fixed;width:2191pt'>
	<col class=xl94 width=23 span=3 style='mso-width-source:userset;mso-width-alt:
		841;width:17pt'>
	<col class=xl94 width=37 span=2 style='mso-width-source:userset;mso-width-alt:
		1353;width:28pt'>
	<col class=xl94 width=120 style='mso-width-source:userset;mso-width-alt:9764;
		width:120pt'>
	<col class=xl95 width=95 style='mso-width-source:userset;mso-width-alt:3474;
		width:71pt'>
	<col class=xl96 width=95 span=12 style='mso-width-source:userset;mso-width-alt:
		3474;width:71pt'>
	<col class=xl94 width=102 style='mso-width-source:userset;mso-width-alt:3730;
		width:77pt'>
	<col class=xl97 width=77 style='mso-width-source:userset;mso-width-alt:2816;
		width:58pt'>
	<col class=xl97 width=141 style='mso-width-source:userset;mso-width-alt:5156;
		width:106pt'>
	<col class=xl97 width=64 span=15 style='width:48pt'>
	<tr height=28 style='height:21.0pt'>
		<td height=28 class=xl93 colspan=6 width=410 style='height:21.0pt; mso-ignore: colspan;width:307pt'>
			RESERVE ACCOUNTS BALANCE SHEET
			<div class="xl14024410">
				Last Updated: Data <span style="color: red">#LastUpdated</span>
				<span style="padding-left: 30px;">
					Accounting Close Through <span style="color: red" id="closeDate">#AcctCloseDate</span>
				</span>
			</div>
		</td>
		<td class=xl95 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
		<td class=xl96 width=95 style='width:71pt'>&nbsp;</td>
	</tr>
	<tr height=21 style='height:15.75pt'>
		<td height=21 class=xl98 colspan=5 style='height:15.75pt;mso-ignore:colspan'>
			@BRANCH_NAME
		</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl94 style='height:12.75pt'>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl99 colspan=5 style='height:12.75pt;mso-ignore:colspan'>
			RESERVE
			ACCOUNTS
		</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>JAN<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>FEB<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>MAR<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>APR<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>MAY<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>JUN<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>JUL<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>AUG<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>SEP<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>OCT<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>NOV<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl100>
			<span style='mso-spacerun:yes'> </span>DEC<span style='mso-spacerun:yes'></span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl99 colspan=3 style='mso-ignore:colspan'>Loan Loss Reserve</td>
		<td class=xl104>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl102 colspan=2 style='mso-ignore:colspan'>
			Loan Loss Reserve Balance
		</td>
		<td class=xl104>&nbsp;</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH6'>$H$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI6'>$I$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ6'>$J$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK6'>$K$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL6'>$L$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM6'>$M$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN6'>$N$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO6'>$O$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP6'>$P$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ6'>$Q$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR6'>$R$6</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS6'>$S$6</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl102 colspan=2 style='mso-ignore:colspan'>
			Loan Loss Reserve Contribution
		</td>
		<td class=xl104><span id='RAG1' style='visibility: visible'>$G$1</span></td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH7'>$H$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI7'>$I$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ7'>$J$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK7'>$K$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL7'>$L$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'> </span><span id='RAM7'>$M$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN7'>$N$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO7'>$O$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP7'>$P$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ7'>$Q$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR7'>$R$7</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS7'>$S$7</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>    

	<!-- -->
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl102 colspan=2 style='mso-ignore:colspan'>
			Loan Loss Reserve Utilized
		</td>
		<td class=xl104>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH5' style='visibility: hidden'>$H$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI5' style='visibility: hidden'>$I$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ5' style='visibility: hidden'>$J$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK5' style='visibility: hidden'>$K$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL5' style='visibility: hidden'>$L$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'> </span><span id='RAM5' style='visibility: hidden'>$M$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN5' style='visibility: hidden'>$N$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO5' style='visibility: hidden'>$O$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP5' style='visibility: hidden'>$P$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ5' style='visibility: hidden'>$Q$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR5' style='visibility: hidden'>$R$5</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS5' style='visibility: hidden'>$S$5</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr class=xl9324410>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410 style="padding-left: 35px">2706 - Loan Loss Utilized</td>        
		<td class=xl1524410></td>
		<td class=xl11624410></td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$H$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$I$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$J$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$K$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$L$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$M$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$N$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$O$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$P$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$Q$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$R$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$S$800<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410></td>
	</tr>
	<tr class=xl9324410>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410 style="padding-left: 35px">2707 - Early Payoff</td>
		<td class=xl1524410></td>
		<td class=xl11624410></td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$H$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$I$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$J$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$K$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$L$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$M$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$N$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$O$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$P$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$Q$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$R$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$S$805<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410></td>
	</tr>
	<tr class=xl9324410>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410></td>
		<td class=xl10924410 style="padding-left: 35px">2708 - Early Payment default</td>
		<td class=xl1524410></td>
		<td class=xl11624410></td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$H$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$I$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$J$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$K$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$L$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$M$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$N$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$O$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$P$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$Q$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$R$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410>
			<span style='mso-spacerun:yes'> </span>$S$810<span style='mso-spacerun:yes'></span>
		</td>
		<td class=xl10924410></td>
	</tr>
   <!---->


	<tr height=21 style='height:15.75pt'>
		<td height=21 class=xl102 style='height:15.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl102 colspan=2 style='mso-ignore:colspan'>
			Loan Loss Reserve Ending
			Balance
		</td>
		<td class=xl104>&nbsp;</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH8'>$H$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI8'>$I$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ8'>$J$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK8'>$K$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL8'>$L$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM8'>$M$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN8'>$N$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO8'>$O$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP8'>$P$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ8'>$Q$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR8'>$R$8</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS8'>$S$8</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl104>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl103 colspan=3 style='mso-ignore:colspan'>Operating Deficit</td>
		<td class=xl104>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl96>&nbsp;</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>
			Operating Deficit Balance
		</td>
		<td class=xl107>
			<span style='mso-spacerun:yes'>$ </span><span id='RAG11'>$G$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH11'>$H$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI11'>$I$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ11'>$J$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK11'>$K$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL11'>$L$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM11'>$M$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN11'>$N$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO11'>$O$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP11'>$P$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ11'>$Q$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR11'>$R$11</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS11'>$S$11</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>Paid Back To Corporate</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH12'>$H$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI12'>$I$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ12'>$J$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK12'>$K$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL12'>$L$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM12'>$M$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN12'>$N$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO12'>$O$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP12'>$P$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ12'>$Q$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR12'>$R$12</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS12'>$S$12</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=0 style='display:none'>
		<td class=xl102>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl94>Allocated Decrease in Corp Cap Acc (by %)</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH13'>$H$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI13'>$I$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ13'>$J$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK13'>$K$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL13'>$L$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM13'>$M$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN13'>$N$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO13'>$O$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP13'>$P$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ13'>$Q$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR13'>$R$13</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS13'>$S$13</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>Advanced From Corporate to Branch</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH14'>$H$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI14'>$I$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ14'>$J$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK14'>$K$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL14'>$L$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM14'>$M$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN14'>$N$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO14'>$O$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP14'>$P$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ14'>$Q$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR14'>$R$14</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS14'>$S$14</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=21 style='height:15.75pt'>
		<td height=21 class=xl102 style='height:15.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl102 colspan=2 style='mso-ignore:colspan'>Ending Balance</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH15'>$H$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI15'>$I$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ15'>$J$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK15'>$K$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL15'>$L$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM15'>$M$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN15'>$N$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO15'>$O$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP15'>$P$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ15'>$Q$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR15'>$R$15</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS15'>$S$15</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl99 colspan=3 style='mso-ignore:colspan'>Branch Reserve Account</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl104>&nbsp;</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>
			Branch Reserve Balance
		</td>
		<td class=xl107>
			<span style='mso-spacerun:yes'>$ </span><span id='RAG18'>$G$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH18'>$H$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI18'>$I$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ18'>$J$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK18'>$K$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL18'>$L$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM18'>$M$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN18'>$N$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO18'>$O$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP18'>$P$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ18'>$Q$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR18'>$R$18</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS18'>$S$18</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>Paid Into Account From Branch</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH19'>$H$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI19'>$I$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ19'>$J$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK19'>$K$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL19'>$L$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM19'>$M$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN19'>$N$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO19'>$O$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP19'>$P$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ19'>$Q$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR19'>$R$19</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS19'>$S$19</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=0 style='display:none'>
		<td class=xl102>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl94>increase in Branch Cap Account (by %)</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH20'>$H$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI20'>$I$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ20'>$J$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK20'>$K$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL20'>$L$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM20'>$M$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN20'>$N$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO20'>$O$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP20'>$P$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ20'>$Q$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR20'>$R$20</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS20'>$S$20</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>Applied To Cover Loss</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH21'>$H$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI21'>$I$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ21'>$J$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK21'>$K$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL21'>$L$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM21'>$M$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN21'>$N$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO21'>$O$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP21'>$P$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ21'>$Q$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR21'>$R$21</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS21'>$S$21</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=21 style='height:15.75pt'>
		<td height=21 class=xl102 style='height:15.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>
			Ending Balance
		</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR22'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS22'></span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl94 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
	</tr>

	<!-- begin add for Rev. 1.2 -->
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl99 colspan=3 style='mso-ignore:colspan'>Available Funds To Manager</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl116>&nbsp;</td>
		<td class=xl104>&nbsp;</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>
			Account (beginning)
		</td>
		<td class=xl107>
			<span style='mso-spacerun:yes'>$ </span><span id='RAG26'>$G$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH26'>$H$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI26'>$I$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ26'>$J$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK26'>$K$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL26'>$L$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM26'>$M$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN26'>$N$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO26'>$O$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP26'>$P$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ26'>$Q$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR26'>$R$26</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl116>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS26'>$S$26</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>Increases</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH27'>$H$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI27'>$I$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ27'>$J$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK27'>$K$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL27'>$L$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM27'>$M$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN27'>$N$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO27'>$O$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP27'>$P$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ27'>$Q$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR27'>$R$27</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS27'>$S$27</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	 <tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>Applied to Cover Losses</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH25'>$H$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI25'>$I$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ25'>$J$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK25'>$K$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL25'>$L$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM25'>$M$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN25'>$N$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO25'>$O$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP25'>$P$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ25'>$Q$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR25'>$R$25</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS25'>$S$25</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=17 style='height:12.75pt'>
		<td height=17 class=xl102 style='height:12.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>Non Producing Managers Draw</td>
		<td class=xl95>&nbsp;</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAH28'>$H$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAI28'>$I$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAJ28'>$J$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAK28'>$K$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAL28'>$L$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAM28'>$M$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAN28'>$N$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAO28'>$O$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAP28'>$P$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAQ28'>$Q$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAR28'>$R$28</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl117>
			<span style='mso-spacerun:yes'> </span><span id='RAS28'>$S$28</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>
	<tr height=21 style='height:15.75pt'>
		<td height=21 class=xl102 style='height:15.75pt'>&nbsp;</td>
		<td class=xl102>&nbsp;</td>
		<td class=xl103>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94 colspan=2 style='mso-ignore:colspan'>
			Ending Balance (accounting)
		</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR29'></span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl118>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS29'></span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>

	<tr height=18 style='height:13.5pt; visibility:hidden'>
		<td height=18 class=xl94 style='height:13.5pt'>&nbsp;</td>
		<td class=xl99>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl94>&nbsp;</td>
		<td class=xl110 colspan=2 style='mso-ignore:colspan'>Total Cap Accounts</td>
		<td class=xl112>
			<span style='mso-spacerun:yes'>$ </span><span id='RAG24'>$G$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAH24'>$H$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAI24'>$I$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAJ24'>$J$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAK24'>$K$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAL24'>$L$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAM24'>$M$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAN24'>$N$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAO24'>$O$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAP24'>$P$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAQ24'>$Q$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAR24'>$R$24</span><span style='mso-spacerun:yes'> </span>
		</td>
		<td class=xl119>
			<span style='mso-spacerun:yes'>$ </span><span id='RAS24'>$S$24</span><span style='mso-spacerun:yes'> </span>
		</td>
	</tr>

	<!-- P & L Revenue -->
	<!-- revenue -->
	<tr style="visibility: hidden">
		<td>
			<table>
				<tr class=xl9324410>
					<td></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=sectionDelim><br />REVENUE</td>
					<td class=sectionDelim colspan="16"></td>
					<td class=sectionDelim></td>
				</tr>
				<tr height=20 style='height:15.0pt'>
					<td height="20" class="xl10924410" style='height:15.0pt'></td>
					<td class="xl10924410"></td>
					<td class="xl10924410"></td>
					<td class="xl10924410">4000</td>
					<td class="xl9324410" colspan="2" style='mso-ignore:colspan'>LOAN PRODUCTION INCOME</td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
				</tr>
				<tr height=16 style='mso-height-source:userset;height:12.0pt'>
					<td height=20 class=xl10924410 style='height:15.0pt'></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410 colspan=2>4020 - Origination Fees</td>
					<td class=xl9324410></td>
					<td class=xl9324410>
						<span> </span>$H$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$I$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$J$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$K$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$L$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$M$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$N$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$O$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$P$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$Q$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$R$700<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$S$700<span></span>
					</td>
					<td class=xl9324410></td>
					<td class=xl935341>&nbsp;</td>
				</tr>
				<tr height=16 style='mso-height-source:userset;height:12.0pt'>
					<td height=20 class=xl10924410 style='height:15.0pt'></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410 colspan=2>4030 - Processing Fees</td>
					<td class=xl9324410></td>
					<td class=xl9324410>
						<span> </span>$H$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$I$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$J$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$K$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$L$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$M$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$N$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$O$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$P$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$Q$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$R$705<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$S$705<span></span>
					</td>
					<td class=xl9324410></td>
					<td class=xl935341>&nbsp;</td>
				</tr>

				<tr height=16 style='mso-height-source:userset;height:12.0pt'>
					<td height=20 class=xl10924410 style='height:15.0pt'></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410 colspan=2>4090 - Misc Fees Income</td>
					<td class=xl9324410></td>
					<td class=xl9324410>
						<span> </span>$H$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$I$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$J$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$K$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$L$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$M$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$N$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$O$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$P$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$Q$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$R$710<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$S$710<span></span>
					</td>
					<td class=xl9324410></td>
					<td class=xl935341>&nbsp;</td>
				</tr>

				<tr class=xl9324410>
					<td></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class="inlineTotal normalWeight">Total 4000 - Loan Production Income</td>
					<td class="inlineTotal normalWeight"></td>
					<td class="inlineTotal normalWeight"></td>
					<td class="inlineTotal normalWeight"></td>
					<td class="inlineTotal normalWeight">
						<span> </span>$H$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$I$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$J$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$K$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$L$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$M$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$N$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$O$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$P$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$Q$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$R$715<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$S$715<span></span>
					</td>
					<td class="inlineTotal normalWeight"></td>
				</tr>
				<tr height=20 style='height:15.0pt'>
					<td height="20" class="xl10924410" style='height:15.0pt'></td>
					<td class="xl10924410"></td>
					<td class="xl10924410"></td>
					<td class="xl10924410"></td>
					<td class="xl10924410"></td>
					<td class="xl10924410"></td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl132"></td>
					<td class="xl133"></td>
					<td class="xl133"></td>
					<td class="xl133"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl118"></td>
				</tr>
				<tr height=20 style='height:15.0pt'>
					<td height="20" class="xl10924410" style='height:15.0pt'></td>
					<td class="xl10924410"></td>
					<td class="xl10924410"></td>
					<td class="xl10924410">4100</td>
					<td class="xl10924410" colspan="2" style='mso-ignore:colspan'>LOAN SALE INCOME</td>
					<td class="xl9324410"></td>
					<td class="xl9324410"></td>
					<td class="xl132"></td>
					<td class="xl133"></td>
					<td class="xl133"></td>
					<td class="xl133"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl134"></td>
					<td class="xl118"></td>
				</tr>
				<tr height=16 style='mso-height-source:userset;height:12.0pt'>
					<td height=20 class=xl10924410 style='height:15.0pt'></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410 colspan=2>4110 - LO Comp Margin</td>
					<td class=xl9324410></td>
					<td class=xl9324410>
						<span> </span>$H$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$I$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$J$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$K$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$L$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$M$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$N$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$O$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$P$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$Q$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$R$720<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$S$720<span></span>
					</td>
					<td class=xl9324410></td>
					<td class=xl935341> </td>
				</tr>
				<tr height=16 style='mso-height-source:userset;height:12.0pt'>
					<td height=20 class=xl10924410 style='height:15.0pt'></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410 colspan=2>4115 - LO Comp Margin - Brokered</td>
					<td class=xl9324410></td>
					<td class=xl9324410>
						<span> </span>$H$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$I$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$J$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$K$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$L$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$M$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$N$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$O$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$P$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$Q$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$R$725<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$S$725<span></span>
					</td>
					<td class=xl9324410></td>
					<td class=xl935341>&nbsp;</td>
				</tr>
				<tr height=16 style='mso-height-source:userset;height:12.0pt'>
					<td height=20 class=xl10924410 style='height:15.0pt'></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410 colspan=2>4120 - Branch Margin</td>
					<td class=xl9324410></td>
					<td class=xl9324410>
						<span> </span>$H$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$I$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$J$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$K$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$L$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$M$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$N$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$O$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$P$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$Q$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$R$730<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$S$730<span></span>
					</td>
					<td class=xl9324410></td>
					<td class=xl935341> </td>
				</tr>
				<tr height="16" style="mso-height-source:userset;height:12.0pt">
					<td height="20" class="xl10924410" style="height:15.0pt"></td>
					<td class="xl10924410"></td>
					<td class="xl10924410"></td>
					<td class="xl10924410"></td>
					<td class="xl10924410" colspan="2">4121 - Branch Margin Revisions</td>
					<td class="xl9324410"></td>
					<td class="xl9324410">
						<span> </span>$H$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$I$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$J$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$K$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$L$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$M$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$N$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$O$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$P$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$Q$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$R$732<span></span>
					</td>
					<td class="xl9324410">
						<span> </span>$S$732<span></span>
					</td>
					<td class="xl9324410 rowTotal" id="T730">
						<span> </span>$T$732<span></span>
					</td>
					<td class="xl9324410 rowAvgDollar" id="U730">
						<span> </span>$U$732<span></span>
					</td>
					<td class="xl9324410 rowAvgPercent" id="V730">
						<span> </span>$V$732<span></span>
					</td>
				</tr>
				<tr height=16 style='mso-height-source:userset;height:12.0pt'>
					<td height=20 class=xl10924410 style='height:15.0pt'></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class=xl10924410 colspan=2>4125 - Branch Margin - Brokered</td>
					<td class=xl9324410></td>
					<td class=xl9324410>
						<span> </span>$H$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$I$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$J$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$K$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$L$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$M$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$N$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$O$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$P$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$Q$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$R$735<span></span>
					</td>
					<td class=xl9324410>
						<span> </span>$S$735<span></span>
					</td>
					<td class=xl9324410></td>
					<td class=xl935341> </td>
				</tr>
				<tr class=xl9324410>
					<td></td>
					<td class=xl10924410></td>
					<td class=xl10924410></td>
					<td class="inlineTotal normalWeight">Total 4100 - Loan Sale Income</td>
					<td class="inlineTotal normalWeight"></td>
					<td class="inlineTotal normalWeight"></td>
					<td class="inlineTotal normalWeight"></td>
					<td class="inlineTotal normalWeight">
						<span> </span>$H$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$I$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$J$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$K$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$L$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$M$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$N$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$O$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$P$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$Q$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$R$740<span></span>
					</td>
					<td class="inlineTotal normalWeight">
						<span> </span>$S$740<span></span>
					</td>
					<td class="inlineTotal normalWeight"></td>
				</tr>
			</table>
		</td>
	</tr>

	<!-- end revenue-->
	<![if supportMisalignedColumns]>
	<tr height=0 style='display:none'>
		<td width=23 style='width:17pt'></td>
		<td width=23 style='width:17pt'></td>
		<td width=23 style='width:17pt'></td>
		<td width=37 style='width:28pt'></td>
		<td width=37 style='width:28pt'></td>
		<td width=267 style='width:200pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
		<td width=95 style='width:71pt'></td>
	</tr>
	<![endif]>
</table>

<span style="visibility: hidden">Reserve Required Cap: <span id="G0">$G$0</span></span>

