﻿@model Dashboard.Web.Models.Branch

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<style>
    #BranchName {
        width: 300px;
    }

    #BranchManager {
        width: 300px;
    }

    .col-md-10 {
        width: 33%;
    }

    .col-md-20 {
        left: 470px;
        top: -27px;
    }

    .field-validation-error {
        left: 185px;
        position: absolute;
    }

    .form-group {
        margin-bottom: 0;
    }

    .control-label {
        font-weight: normal;
        text-align: left;
        width: 33%;
    }

    input {
        width: 80px;
    }

    .tblHeader {
        text-align: left;
        padding: 0;
        margin: 0;
        font-weight: bold;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <span class="alert" style="color: red">
        @Html.Raw(ViewBag.ErrorMsg)
    </span>
    
    <div class="form-horizontal">
        <h4>Branch</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BranchId)


        <div class="form-group">
            <div class="tblHeader col-md-2">Branch Name</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BranchName)
                @Html.ValidationMessageFor(model => model.BranchName)
            </div>
        </div>

        <div class="form-group">
            <div class="tblHeader col-md-2">Manager</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BranchManager)
                @Html.ValidationMessageFor(model => model.BranchManager)
            </div>
        </div>

        <br /><br />
        <div class="form-group tblHeader">
            <span class="col-md-12">
                Branch Revenue Assignment:
            </span>
        </div>
        <hr />

        <div class="form-group">
            <div class="control-label col-md-2">Manager Salary</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.ManagerSalaryRate)
                @Html.ValidationMessageFor(model => model.ManagerSalaryRate)
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2">AR Rate for Jan. 1<br />(see 
                <a href="~/BranchHistories">Branch Histories</a> for subsequent changes)</div>
            <div class="col-md-10">
                <br />&nbsp;&nbsp; @Html.EditorFor(model => model.ARRate) %
                @Html.ValidationMessageFor(model => model.ARRate)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Volume Override Rate</div>
            <div class="col-md-10">
                &nbsp;&nbsp; @Html.EditorFor(model => model.VolumeOverrideRate) %
                @Html.ValidationMessageFor(model => model.VolumeOverrideRate)
            </div>
        </div>
        <br /><br />

        <div class="form-group tblHeader">
            <span class="col-md-10">
                Projected Budget And Goals
            </span>
        </div>
        <hr />

        <div class="form-group">
            <div class="control-label col-md-2">Monthly Closing Goal</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.MonthlyClosingGoalRate)
                @Html.ValidationMessageFor(model => model.MonthlyClosingGoalRate)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Total Monthly Budget</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.TotalMonthlyBudgetRate)
                @Html.ValidationMessageFor(model => model.TotalMonthlyBudgetRate)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Start Up Cost</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.StartUpCostRate)
                @Html.ValidationMessageFor(model => model.StartUpCostRate)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Bps Goal</div>
            <div class="col-md-10">
                &nbsp;&nbsp;@Html.EditorFor(model => model.BpsGoal) %
                @Html.ValidationMessageFor(model => model.BpsGoal)
            </div>
        </div>
        <br /><br />

        <div class="form-group tblHeader">
            <span class="col-md-10">
                Reserves
            </span>
        </div>
        <hr />

        <div class="form-group">
            <div class="control-label col-md-2">Loan Loss Reserve Rate</div>
            <div class="col-md-10">
                &nbsp;&nbsp; @Html.EditorFor(model => model.LoanLossReserveRate) %
                @Html.ValidationMessageFor(model => model.LoanLossReserveRate)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Loan Loss Reserve Cap</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.LoanLossReserveCap)
                @Html.ValidationMessageFor(model => model.LoanLossReserveCap)
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2">Reserve Required Cap</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.ReserveRequiredCap)
                @Html.ValidationMessageFor(model => model.ReserveRequiredCap)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Corp Invest Balance Due</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.CorpInvestBalDueRate)
                @Html.ValidationMessageFor(model => model.CorpInvestBalDueRate)
            </div>
        </div>
        <br /><br />

        <div class="form-group tblHeader">
            <span class="col-md-10">
                Beginning Balances
            </span>
        </div>
        <hr />

        <div class="form-group">
            <div class="control-label col-md-2">Beginning Loan Loss Reserve</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.BegLoanLossReserveBal)
                @Html.ValidationMessageFor(model => model.BegLoanLossReserveBal)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Beginning Branch Reserve</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.BegBranchReserveBal)
                @Html.ValidationMessageFor(model => model.BegBranchReserveBal)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Beginning ARO Account Balance</div>
            <div class="col-md-10">
                $ @Html.EditorFor(model => model.BegAroAccountBal)
                @Html.ValidationMessageFor(model => model.BegAroAccountBal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivationDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ActivationDate, new { @class = "form-control datepicker", data_format = "dd/MM/yyyy" })
                @Html.ValidationMessageFor(model => model.ActivationDate)
            </div>
        </div>

        <br /><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Approve" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*date picker links and code*@
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />


    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>
}
