﻿@model Dashboard.Web.Models.Branch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.ActivationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerSalaryRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerSalaryRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerSalaryCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerSalaryCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolumeOverrideRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolumeOverrideRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VolumeOverrideCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VolumeOverrideCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QrtBonusRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QrtBonusRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QrtBonusCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QrtBonusCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanVolChangeMetricRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanVolChangeMetricRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanVolChangeMetricCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanVolChangeMetricCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyClosingGoalRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyClosingGoalRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyClosingGoalCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyClosingGoalCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMonthlyBudgetRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMonthlyBudgetRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMonthlyBudgetCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMonthlyBudgetCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartUpCostRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartUpCostRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartUpCostCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartUpCostCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanLossReserveRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanLossReserveRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanLossReserveCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanLossReserveCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReserveRequiredCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReserveRequiredCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchReserveBalanceRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchReserveBalanceRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchReserveBalanceCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchReserveBalanceCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorpInvestBalDueRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorpInvestBalDueRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorpInvestBalDueCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorpInvestBalDueCap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BranchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
