﻿@model Dashboard.Web.Models.ApplicationUser
@using Dashboard.Web.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>
        <dd>
            @{
            ApplicationDbContext db = new ApplicationDbContext();
            var branchNames = db.Branches.OrderBy(b => b.BranchName).Select(b => new { b.BranchId, b.BranchName });
            var branch = branchNames.Where(b => b.BranchId == Model.BranchId).Select(b => b.BranchName).FirstOrDefault();
            }
            @Html.Raw(branch)
        </dd>
        
    </dl>
</div>
<h4>List Of Roles</h4>
<table class="table table-striped">

    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



