﻿@model Dashboard.Web.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Id)


    <fieldset class="form-horizontal">
        <legend>Edit a user.</legend>
        <div class="control-group">
            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
                
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
                
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>

                @Html.LabelFor(m => m.BranchId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(
                    m => m.BranchId, 
                    new SelectList(
                        ViewBag.BranchList, "Value", "Text"
                        ), "-- Choose One --", 
                        new { @class = "form-control" })
                </div>

               
                @Html.LabelFor(m => m.RegionId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(
                    m => m.RegionId,
                    new SelectList(
                        ViewBag.RegionList, "Value", "Text"
                        ), "-- Choose One --",
                        new { @class = "form-control" })
                </div>



                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>


                <label class="control-label" for="RoleName">
                    Role
                </label>
                <div class="form-control controls">
                    @{
                        bool adminChk = false;
                        bool branchChk = false;
                        bool regionChk = false;
                        bool nonProdChk = false;
                        bool divisionChk = false;
                        bool globalChk = false;
    
                        if (ViewBag.Role == "Admin")
                        {
                            adminChk = true;
                        }
                        else if (ViewBag.Role == "Global")
                        {
                            globalChk = true;
                        }
                        else if (ViewBag.Role == "Branch")
                        {
                            branchChk = true;
                        }
                        else if (ViewBag.Role == "Region")
                        {
                            regionChk = true;
                        }
                        else if (ViewBag.Role == "Division Mgr")
                        {
                            divisionChk = true;
                        }
                        else if (ViewBag.Role == "Non-Producing Branch Mgr")
                        {
                            nonProdChk = true;
                        }                       
                    }

                    @Html.RadioButton("RoleName", "Admin", adminChk) Admin
                    @Html.RadioButton("RoleName", "Global", globalChk) Global
                    @Html.RadioButton("RoleName", "Branch", branchChk) Branch
                    @Html.RadioButton("RoleName", "Region", regionChk) Region
                    @Html.RadioButton("RoleName", "Division Mgr", divisionChk) Division Mgr
                    @Html.RadioButton("RoleName", "Non-Producing Branch Mgr", nonProdChk) Non-Producing Branch Mgr
                </div>
            </div>
        </div>

        <br />
        <div class="form-actions no-color">
            <input type="submit" value="Edit" class="btn" />
        </div>
    </fieldset>

    <br /><br />
    <img src="../../Content/UserRoles.png" alt="User Roles" />
    
    <div>
        @Html.ActionLink("Back to User Dashboard", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
