﻿@using Dashboard.Web.Models;
@using Dashboard.Web.Shared;

@model IEnumerable<Dashboard.Web.Models.ApplicationUser>

@{
    ViewBag.Title = "Manage Users";
}

<h2>Manage Users</h2>

<ul>
    <li>
        @Html.ActionLink("Users Waiting For Approval", "PendingUsers")
    </li>
    <li>
        @Html.ActionLink("All Users", "AllUsers")
    </li>
</ul>