﻿@using Dashboard.Web.Models;
@using Dashboard.Web.Shared;

@model IEnumerable<Dashboard.Web.Models.ApplicationUser>

@{
    ViewBag.Title = "User Index";
}

<h2>User Index</h2>


<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Role
        </th>
        <th>
            Branch
        </th>
    </tr>

    @{
        // get list of branch name so they can be matched to each user
        ApplicationDbContext db = new ApplicationDbContext();
        var branchNames = db.Branches.OrderBy(b => b.BranchName).Select(b => new { b.BranchId, b.BranchName });
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @UserRoles.GetUserRole(item.UserName)
            </td>
            <td>               
                @{               
                    var branch = branchNames.Where(b => b.BranchId == item.BranchId).Select(b => b.BranchName).FirstOrDefault();
                }
                @if (branch != null) {
                    @branch.ToString()
                }
            </td>
            <td>     
                @if (User.IsInRole("Admin")) {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                    @Html.Raw("&nbsp;|&nbsp;")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                else {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>

<img src="../../Content/UserRoles.png" alt="User Roles" />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
