﻿@using Dashboard.Web.Models;
@using Dashboard.Web.Shared;

@model IEnumerable<Dashboard.Web.Models.ApplicationUser>

@{
    ViewBag.Title = "User Index";
}

<h2>Users Pending Approval</h2>

<p>
   New users create their own account from the 'Register' link on the login page. They cannot access AROS until an administrator approves them below. 
</p>
<table class="table">
    <tr>        
        <th>
            User Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @if (User.IsInRole("Admin")) {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.Raw("&nbsp;|&nbsp;")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                else {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>

<img src="../../Content/UserRoles.png" alt="User Roles" />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
