﻿@{
    ViewBag.Title = "BPS Rankings";
    Layout = null;
}

<h2>BPS Rankings</h2>
(Updated nightly. Rankings are for last month when today is the 20th or later - otherwise, the month before last)

<div class="container-fluid">
    <div class="row-fluid">
        @Html.Raw(ViewBag.BpsRankings)
    </div>
</div>

