﻿
@{
    ViewBag.Title = "Profit And Loss Reserve Report";
}

<p>&nbsp;</p>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<link href="~/Content/Loader.css" rel="stylesheet" />

@section scripts
    {
    <script type="text/javascript" src="~/Scripts/LoaderStatus.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-primary').click(function () {
                new ajaxLoader('.body-content');
            });
        });
    </script>

    <script>
        $(function () {
            $('#lstYear').change(function () {
                $("#btnSubmit").click();
            })
        })
    </script>
}


@using (Html.BeginForm("ProfitAndLossReserveRpt", "Reports"))
{
    <div class="container">
        @Html.Partial("_RptForm")
    </div>
}

<!-- HIDE THE AROS DETAILS FROM NON ADMIN/GLOBAL USERS SO THEY DON'T GET OVERWHELMED-->
@if ((User.IsInRole("Admin") || User.IsInRole("Global")) && ViewBag.IsPosted == true) {    
    <h4>NOTE: This detail is available only to Admin Users</h4>

    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapse">
       Show Details
    </button>
    <div id="collapse" class="collapse">
         <span id="reserveAcctRpt">
            @Html.Raw(ViewBag.PLDetailRpt)
        </span>
    </div>   
}
else {
    <span id="reserveAcctRpt" style="display: none">
        @Html.Raw(ViewBag.PLDetailRpt)
    </span>
}
   

<div class="container-fluid">
    <div class="row-fluid">
        @Html.Raw(ViewBag.ProfitAndLossReserveRpt)
    </div>
    
    @if (ViewBag.YearSelected == DateTime.Now.Year) {
        <div class="row-fluid" style="margin-left: 82px; position: relative; top: -250px">
           <hr /><iframe id='frmRequestForPayment' src='../BranchPaymentRequests/IndexForNonAdmin' style='width: 100%; height: 900px; overflow:auto; border: none; margin: 0; padding: 0'></iframe>
        </div>
    }
</div>

