﻿
@{
    ViewBag.Title = "Profit And Loss Report";
}

<p>&nbsp;</p>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<link href="~/Content/Loader.css" rel="stylesheet" />

@section scripts
    {
    <script type="text/javascript" src="~/Scripts/LoaderStatus.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-primary').click(function () {
                new ajaxLoader('.body-content');
            });
        });
    </script>

    <script>
        $(function () {
            $('#lstYear').change(function () {
                $("#btnSubmit").click();
            })
        })
    </script>
}


@using (Html.BeginForm("ProfitAndLossRpt", "Reports"))
{
    <div class="container">
        @Html.Partial("_RptForm")
    </div>
}


<div class="container-fluid">
    <div class="row-fluid">
        @Html.Raw(ViewBag.ProfitAndLossRpt)
    </div>
</div>

