﻿@{
    ViewBag.Title = "ARO Report";
}

<p>&nbsp;</p>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!-- todo: remove this page when the Details page is redone. -->

@Html.Raw(ViewBag.Report)
