﻿@{
    ViewBag.Title = "Reserve Accounts";
}

<p>&nbsp;</p>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<link href="~/Content/Loader.css" rel="stylesheet" />

@section scripts
{
    <script type="text/javascript" src="~/Scripts/LoaderStatus.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-primary').click(function () {
                new ajaxLoader('.body-content');
            });
        });
    </script>

    <script>
        $(function() {
            $('#lstYear')
                .change(function() {
                    $("#btnSubmit").click();
                })
        })
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    <script src="~/Templates/Scripts/Utilities.js"></script>
    <script src="~/Templates/Scripts/PayMe.js"></script>
}


@using (Html.BeginForm("ReserveAccounts", "Reports"))
{
<div class="container">
    @Html.Partial("_RptForm")
</div>
}

<span id="reserveAcctRpt" style="display: none">
    @Html.Raw(ViewBag.AroRpt)
</span>

<div class="container-fluid">
    <div class="row-fluid">
        @Html.Raw(ViewBag.ReserveAcctRpt)
    </div>

    @if (ViewBag.YearSelected == DateTime.Now.Year) {
        <div class="row-fluid" style="margin-left: 82px;">
           <hr /><iframe id='frmRequestForPayment' src='../BranchPaymentRequests/IndexForNonAdmin' style='width: 100%; height: 900px; overflow:auto; border: none; margin: 0; padding: 0'></iframe>
        </div>
    }
</div>
