﻿@model IEnumerable<Dashboard.Web.Models.AcctClosing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcctClosingDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AcctClosingDate)
        </td>
        <td>
            @if (User.IsInRole("Admin")) {
                @Html.ActionLink("Edit", "Edit", new { id=item.AcctClosingId })  
                @Html.Raw("&nbsp;|&nbsp;")
                @Html.ActionLink("Details", "Details", new { id=item.AcctClosingId })
                @Html.Raw("&nbsp;|&nbsp;")
                @Html.ActionLink("Delete", "Delete", new { id=item.AcctClosingId })
            }
            else {
                @Html.ActionLink("Details", "Details", new { id=item.AcctClosingId })
            }
        </td>
    </tr>
}

</table>
