﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>The AROS updates the expenses and revenues for your branch daily. Check your bps ranking and drill-down on your
    branch details.</p>
