﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Alterra Home Loans<br />
    1300 S Jones Blvd <br />
    Las Vegas, NV 89146<br />
    <abbr title="Phone">P:</abbr>
    (702) 765-4692
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Help@GoVenta.com">Help@GoVenta.com</a><br />   
</address>