﻿@{
    ViewBag.Title = "Home Page";
}

<link href="Content/Loader.css" rel="stylesheet" />

@section scripts
    {
<script type="text/javascript" src="Scripts/LoaderStatus.js">
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.btn').click(function () {
            new ajaxLoader('.body-content');
        });
    });
</script>

<style>
    .fakebtn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid;
        border-color: #adadad;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
</style>
}

@Html.Partial("_Header")

<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Select a Report Below.<br />NOTE: 2016 Beginning Balances Have Been Finalized.</strong>
</div>

<div class="row">
    @if (@HttpContext.Current.Session["Country"] != null)
    {
        <div style="visibility: hidden">@HttpContext.Current.Session["Country"].ToString() </div>
    }

    @if (User.IsInRole("Admin") || User.IsInRole("Global") || User.IsInRole("Region") || User.IsInRole("Branch") || User.IsInRole("Division Mgr"))
    {
        <div class="col-md-3 feature">
            <h2>ARO Report</h2>
            <p>Producing Manager View the Report for your Branch</p>
            <p><a class="btn btn-default feature-text" href="/Reports/AroReport">Producing Branch Manager Report &raquo;</a>
            </p>
        </div>
    }

    @if (User.IsInRole("Admin") || User.IsInRole("Global") || User.IsInRole("Region") || User.IsInRole("Non-Producing Branch Mgr") || User.IsInRole("Division Mgr"))
    {
        <div class="col-md-3 feature">
            <h2>Branch Profit and Loss</h2>
            <p>Non-Producing Manager View the Report for your Branch</p>
            <p><a class="btn btn-default feature-text" href="/Reports/ProfitAndLossRpt">Non-Producing Manager Report &raquo;</a>
            </p>
        </div>
    }

    @if (User.IsInRole("Admin") || User.IsInRole("Global") || User.IsInRole("Region") || User.IsInRole("Non-Producing Branch Mgr") || User.IsInRole("Division Mgr"))
    {
        <div class="col-md-3 feature">
            <h2>Profit and Loss Reserve</h2>
            <p>Non-Producing Manager View the Report for your Branch</p>
            <p><a class="btn btn-default feature-text" href="/Reports/ProfitAndLossReserveRpt">Non-Producing Manager Report &raquo; </a>
            </p>
        </div>
    }

    @if (User.IsInRole("Admin") || User.IsInRole("Global") || User.IsInRole("Region") || User.IsInRole("Branch") || User.IsInRole("Division Mgr"))
    {
        <div class="col-md-3 feature">
            <h2>Reserve Accounts Report</h2>
            <p>View the Reserve Accounts report for your branch.</p>
            <p><a class="btn btn-default feature-text" href="/Reports/ReserveAccounts">View Reserve Accounts Report &raquo;</a>
            </p>
        </div>
    }
</div>

<div class="row">
    <p>&nbsp;</p>
    @Html.Raw(ViewBag.BpsRankings) 
</div>