﻿
@{
    ViewBag.Title = "PreApproved";
}

@Html.Partial("_Header")

<p>
    We received your request to use the AROS system.
</p>
<p>
    Once we confirm your identity, we will grant you access
    to the system. We do this to protect your data. 
</p>
<p>
    Approval of your account usually takes 24 hours or less.
</p>
<p>
    Thanks and welcome to AROS!
</p>

