﻿@model Dashboard.Web.Models.RegionBranch

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Region Branches</h4>
        <hr />
       
        @Html.LabelFor(m => m.Region.RegionId, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(
                    model => model.RegionId,
                    new SelectList(
                        ViewBag.RegionList, "Value", "Text"
                        ), "-- Choose One --",
                        new { @class = "form-control" })
        </div>

        @Html.ValidationSummary(true)
        @Html.LabelFor(m => m.BranchId, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(
                    m => m.BranchId,
                    new SelectList(
                        ViewBag.BranchList, "Value", "Text"
                        ), "-- Choose One --",
                        new { @class = "form-control" })
        </div>

        <br /><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
