﻿@model Dashboard.Web.Models.RegionBranch

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Region</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RegionBranchId)

        <div class="controls">
            @Html.DropDownListFor(
                    m => m.RegionId,
                    new SelectList(
                        ViewBag.RegionList, "Value", "Text"
                        ), "-- Choose One --",
                        new { @class = "form-control" })
        </div>
       
        @Html.LabelFor(m => m.BranchId, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(
                    m => m.BranchId,
                    new SelectList(
                        ViewBag.BranchList, "Value", "Text"
                        ), "-- Choose One --",
                        new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
