﻿@model IEnumerable<Dashboard.Web.Models.RegionBranch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using GridMvc.Html;

<div style="width:100%;" class="sample-panel-margin">
    @Html.Grid(Model).Columns(columns =>
                    {
                        columns.Add(c => c.Region.RegionName).Titled("Region").Filterable(true);
                        columns.Add(c => c.Branch.BranchName).Titled("Branch").Filterable(true);
                        columns.Add(c => c.Branch.BranchManager).Titled("Manager").Filterable(true);

                        if (User.IsInRole("Admin")) {
                            columns.Add().Titled("Edit").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.BranchId }));
                            columns.Add().Titled("Delete").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Delete", "Delete", new { id = c.BranchId }));
                        }
                        else {
                            columns.Add().Titled("Details").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Details", "Details", new { id = c.BranchId }));
                        }
                    }).WithPaging(20).Sortable(true)
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/gridmvc.min.js")
}

@section Styles {
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
}
