﻿@if (HttpContext.Current.IsDebuggingEnabled == false)
{
    if (Session["Country"] == null)
     {
         Response.StatusCode = 404;
         Response.SuppressContent = true;
         Response.End();
     }
     else if (Session["Country"].ToString() != "US")
     {
         // non-USA ips get 404 error
         Response.StatusCode = 404;
         Response.SuppressContent = true;
         Response.End();

     }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ron de Frates, 5X Solutions" />
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <title>@ViewBag.Title - Venta Financial Group</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        window.appInsights={queue:[],applicationInsightsId:null,accountId:null,appUserId:null,configUrl:null,start:function(n){function u(n,t){n[t]=function(){var i=arguments;n.queue.push(function(){n[t].apply(n,i)})}}function f(n){var t=document.createElement("script");return t.type="text/javascript",t.src=n,t.async=!0,t}function r(){i.appendChild(f("//az416426.vo.msecnd.net/scripts/ai.0.js"))}var i,t;this.applicationInsightsId=n;u(this,"logEvent");u(this,"logPageView");i=document.getElementsByTagName("script")[0].parentNode;this.configUrl===null?r():(t=f(this.configUrl),t.onload=r,t.onerror=r,i.appendChild(t));this.start=function(){}}};

        appInsights.configUrl="/ApplicationInsights.axd";
        appInsights.start();
        appInsights.logPageView();
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-8229287-8', 'auto');
        ga('send', 'pageview');

    </script>

    @RenderSection("Styles", required: false)

    <style>
        h2 {
            padding-top: 10px;
        } 
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <a href="/" style="text-decoration: none">
                    <img alt="Venta Financial Group" src="@Url.Content("~/Content/VentaLogo.png")" />
                </a>
            </div>
            <div class="navbar-collapse collapse">   
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Venta Financial Group</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
