﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left", style = "color: #FFFFFF" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", style = "color: #FFFFFF" })
        </li> 
        
        <li>
            @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Home", style = "color: #FFFFFF" })
        </li>
        <li>
            @Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { title = "Contact", style = "color: #FFFFFF" })
        </li>

        @if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("Global"))
        {
        <li>
            @Html.ActionLink("Users", "", "UsersAdmin", routeValues: null, htmlAttributes: new { title = "Users", style="color: #FFFFFF" })
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color:white">Branches <b class="caret"></b></a>
            <ul class="dropdown-menu" style="background-color: #386ab3">
                <li>
                    @Html.ActionLink("Branches", "", "Branches", routeValues: null, htmlAttributes: new { title = "Branches", style = "color: #FFFFFF" })
                </li>
                <li>
                    @Html.ActionLink("ARR", "", "branchhistories", routeValues: null, htmlAttributes: new { title = "ARR", style = "color: #FFFFFF" })
                </li>
                <li>
                    @Html.ActionLink("Payment Requests", "", "branchpaymentrequests", routeValues: null, htmlAttributes: new { title = "Payment Requests", style = "color: #FFFFFF" })
                </li>
             </ul>
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color:white">Regions <b class="caret"></b></a>
            <ul class="dropdown-menu" style="background-color: #386ab3">
                <li>
                    @Html.ActionLink("Regions", "", "Regions", routeValues: null, htmlAttributes: new { title = "Regions", style = "color: #FFFFFF" })
                </li>
                <li>
                    @Html.ActionLink("Region Branches", "", "RegionBranch", routeValues: null, htmlAttributes: new { title = "Region Branches", style = "color: #FFFFFF" })
                </li>
            </ul>
        </li>

        <li>
            @Html.ActionLink("Accounting Close", "", "AcctClosings", routeValues: null, htmlAttributes: new { title = "Accounting Close", style = "color: #FFFFFF" })
        </li>
         <li>
            @Html.ActionLink("Postings", "", "BranchPostingsJobs", routeValues: null, htmlAttributes: new { title = "Postings", style = "color: #FFFFFF" })
        </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color: #FFFFFF">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color: #FFFFFF" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color: #FFFFFF" })</li>
    </ul>
}
