﻿<div class="row">

    @if (User.IsInRole("Region") || User.IsInRole("Division Mgr"))
    {
    <h3>@ViewBag.RegionName</h3>
    }

    <span id="span3">
        <label>Year</label>
    </span>
    @Html.DropDownList(
    "lstYear",
    (SelectList)ViewBag.YearListBox
    )

    @if (User.IsInRole("Admin") || User.IsInRole("Global") || User.IsInRole("Region") || User.IsInRole("Division Mgr"))
    {
    <span style="padding-left: 25px">
        <label>Branch</label>
        @Html.DropDownList(
        "lstBranchId",
        (SelectList)ViewBag.BranchListBox,
        "-- Choose One --"
        )
    </span>

    if (ViewBag.ProdBranchRpt != null) {
        if (ViewBag.ProdBranchRpt)
        {
            <div class="alert alert-success alert-dismissable">
                Restricted to Producing Branches for Divisional and Regional Users
            </div>
        }
    }

    <span class="btnSpan">
        <input type="submit" id="btnSubmit" value="Ok" class="btn btn-primary btn-sm btnRpt" />
    </span>
    }
    else
    {
    <input type="submit" id="btnSubmit" value="Ok" class="btn btn-primary" style="visibility: hidden" />
    }


    @*pdf download link*@

    @if (string.IsNullOrWhiteSpace(ViewBag.BranchId) == false)
    {
    <span class="span8" style="float: right">
        @Html.ActionLink(
        "Printable PDF",
        "ReportToPdf",
        "Reports",
        new { branchCode = ViewBag.BranchId, yearSelected = ViewBag.YearSelected, ViewBag.RptType },
        new { id = "btnPdf", @class = "btn btn-success btn-sm" })

    </span>
    }

</div>

