﻿@{
    ViewBag.Title = "Expense Detail";
}
<h2>@ViewBag.Title</h2>


<div class="container">   
    @if (string.IsNullOrWhiteSpace(ViewBag.BranchId) == false)
    {
        <span class="span2" style="float: right">
            @Html.ActionLink(
                "View PDF",
                    "ExpenseDetailToPdf",
                    "ExpenseDetail",
                new { id = ViewBag.id, branchId = ViewBag.BranchId, year = ViewBag.Year, isBonus = ViewBag.isBonus, rptType = ViewBag.rptType },
                new { id = ViewBag.id, @class = "btn btn-success" })

        </span>
    }
</div>

@Html.Raw(ViewBag.DetailRpt)

