﻿
@{
    ViewBag.Title = "RevenueDetail";
}



<div class="container">
    @if (string.IsNullOrWhiteSpace(ViewBag.BranchId) == false)
    {
        <h2>Revenue Detail</h2>
        
        <span class="span2" style="float: right">
                        @Html.ActionLink(
                "View PDF",
                     "RevenueDetailToPdf",
                     "RevenueDetail",
                new { id = ViewBag.id, branchId = ViewBag.BranchId, year = ViewBag.Year },
                new { id = "btnPdf", @class = "btn btn-success" })

        </span>
    }
</div>

@Html.Raw(ViewBag.DetailRpt)




