﻿@model Dashboard.Web.Models.BranchPaymentRequest

@{
    ViewBag.Title = "Request a Payment";
    Layout = null;
}

<h2>Request a Payment</h2>

 <span class="alert" style="color: red">
    @Html.Raw(ViewBag.ErrorMsg)
</span>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BranchPaymentRequest</h4>
        <hr />
        @Html.ValidationSummary(true)
       
        <div class="form-group">
            @Html.LabelFor(model => model.AmtRequestd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmtRequestd)
                @Html.ValidationMessageFor(model => model.AmtRequestd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("View History", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*date picker links and code*@
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />


    <script type="text/javascript">
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>
}
