﻿@model Dashboard.Web.Models.BranchPaymentRequest

@{
    ViewBag.Title = "Edit";
}

<h2>Branch Payment Request</h2>

<div class="notation">
    IMPORTANT: Confirm that the amount requested does not exceed the amount available for draws from the reserve report.
    Users may not request more than this amount in the request form but the values may have changed from the time the request was made.
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BranchPaymentRequestId)

        <div class="form-group">
            @Html.LabelFor(model => model.BranchId, "BranchId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BranchId", String.Empty)
                @Html.ValidationMessageFor(model => model.BranchId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateRequested, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 @Html.TextBoxFor(model => model.DateRequested, new { @readonly = "readonly", style="background-color: silver" })
                @Html.ValidationMessageFor(model => model.DateRequested)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Requestor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Requestor, new { @readonly = "readonly", style="background-color: silver" })
                @Html.ValidationMessageFor(model => model.Requestor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmtRequestd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AmtRequestd, new { @readonly = "readonly", style="background-color: silver" })
                @Html.ValidationMessageFor(model => model.AmtRequestd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                 @{
                        bool pendingChk = false;
                        bool approvedChk = false;
                        bool declinedChk = false;
                        bool paidChk = false;
    
                        if (ViewBag.StatusId == 1)
                        {
                            pendingChk = true;
                        }
                        else if (ViewBag.StatusId == 2)
                        {
                            approvedChk = true;
                        }
                        else if (ViewBag.StatusId == 3)
                        {
                            declinedChk = true;
                        }
                        else if (ViewBag.StatusId == 4)
                        {
                            paidChk = true;
                        }
                }

                @Html.RadioButton("IsApproved", 1, pendingChk) Pending Review
                <br />
                @Html.RadioButton("IsApproved", 2, approvedChk) Approved Next Pay Cycle                
                <br />
                @Html.RadioButton("IsApproved", 4, paidChk) Paid/AMB Processed
                <br />
                @Html.RadioButton("IsApproved", 3, declinedChk) Declined
                <br />
                @Html.ValidationMessageFor(model => model.IsApproved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comment, 6, 200, null)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*date picker links and code*@
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
}

