﻿@{
    ViewBag.Title = "Requests for Payment";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

    <style>
        body {
            margin-top: -10px;
            padding-top: 5px;
            margin-left: 25px;
        }
        h2 {
            padding-top: 10px;
        } 
    </style>

<h2 style="padding-top: 10px;">Requests for Payment</h2>

@{
    // user may request payment only when there are no pending requests and the amount available for draws is more than zero
    if (ViewBag.PendingRequest <= 0) {
    <p>
        <a href="Request?maxAvailForDraws=@ViewBag.MaxAvailForDraws" class="btn btn-primary">Pay Me!</a>
    </p>
    }
}


@using GridMvc.Html;

@model IEnumerable<Dashboard.Web.Models.vwBranchPaymentRequest>
    <div style="width:100%;" class="sample-panel-margin">
        @Html.Grid(Model).Columns(columns =>
        {
        columns.Add(c => c.BranchName).Titled("Branch").Filterable(true);
        columns.Add(c => c.Requestor).Titled("Requestor").Filterable(true);
        columns.Add(c => c.DateRequested).Titled("Date Requested").Format("{0:MM/dd/yyyy}").Filterable(true);
        columns.Add(c => c.AmtRequestd).Titled("Amount Requested").Filterable(true).Format("{0:c}").Css("currency");
        columns.Add(c => c.StatusType).Titled("Status").Filterable(true);
        columns.Add(c => c.Comment).Titled("Comments");

        columns.Add().Titled("Details").Encoded(false).Sanitized(false).RenderValueAs(c => ActionLinkHelper(c));
       
        }).WithPaging(50).Sortable(true)
    </div>

    <script src="../Content/Gridmvc.css"></script>
   

    @section Styles {
        <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @helper ActionLinkHelper(Dashboard.Web.Models.vwBranchPaymentRequest request)
    {
        if (request.StatusType == null || request.StatusType == "Pending Review")
        {
            @Html.ActionLink("Delete", "DeleteForNonAdmin", new { id = request.BranchPaymentRequestId });
        }
        else
        {
        <span class="label label-important">N/A</span>
        }
    }