﻿@{
    ViewBag.Title = "Requests for Payment";
}

<h2>Requests for Payment</h2>

<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapse-heading-one">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                    Click to See 'Pay Me' Button Rules
                </a>
            </h4>
        </div>
        <div id="collapse-one" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-one">
            <div class="panel-body">
                <U>Producing and Non-Producing Managers</U>:
                <P STYLE="margin-left: 0.75in; margin-bottom: 0.11in">
                </P>
                <OL>
	                <OL TYPE=a>
		                <LI><P STYLE="margin-bottom: 0.11in">Rules:</P>
		                <OL TYPE=i>
			                <LI><P STYLE="margin-bottom: 0.11in">Manager can request an amount
			                to be processed (via pay me button);</P>
			                <OL>
			                    <LI>
			                    <P STYLE="margin-bottom: 0.11in">User may not request a new payment while there is one still pending</P>
			                    <LI>
			                    <P STYLE="margin-bottom: 0.11in">Max amount may not exceed the last 'Ending Available For Draw' for the 'Close Month' displayed on the report.</P>
			                </OL>
			                <LI><P STYLE="margin-bottom: 0.11in">Email request will be sent to the regional and
			                Yvonne has to approve the request;</P>
			                <LI><P STYLE="margin-bottom: 0.11in">The requests are archived;</P>
			                <LI><P STYLE="margin-bottom: 0.11in">The approved requests are
			                shipped to payroll by Yvonne for processing in AMB where the paid amount is recorded and reflected the next day in AROS.</P>
		                </OL>
	                </OL>
                </OL>
                <P STYLE="margin-left: 1.25in; margin-bottom: 0.11in">
                </P>
                <OL>
	                <OL TYPE=a START=2>
		                <LI><P STYLE="margin-bottom: 0.11in">Use Case:</P>
		                <OL TYPE=i>
			                <LI><P STYLE="margin-bottom: 0.11in">When pressed, the manager
			                will be prompted to complete a request for payment of the Assigned
			                Revenue Override (“ARO”)</P>
		                </OL>
	                </OL>
                </OL>
            </div>
        </div>
    </div>
</div>

@using GridMvc.Html;

@model IEnumerable<Dashboard.Web.Models.vwBranchPaymentRequest>
    <div style="width:100%;" class="sample-panel-margin">
        @Html.Grid(Model).Columns(columns =>
        {
        columns.Add(c => c.BranchName).Titled("Branch").Filterable(true);
        columns.Add(c => c.Requestor).Titled("Requestor").Filterable(true);
        columns.Add(c => c.DateRequested).Titled("Date Requested").Format("{0:MM/dd/yyyy}").Filterable(true);
        columns.Add(c => c.AmtRequestd).Titled("Amount Requested").Filterable(true).Format("{0:c}").Css("currency");
        columns.Add(c => c.StatusType).Titled("Status").Filterable(true);
        columns.Add(c => c.Comment).Titled("Comments");

        if (User.IsInRole("Admin")) {
            columns.Add().Titled("Edit").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Edit", "Edit", new { id = c.BranchPaymentRequestId }));
            columns.Add().Titled("Delete").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Delete", "Delete", new { id = c.BranchPaymentRequestId }));
        }
        else {
            columns.Add().Titled("Details").Encoded(false).Sanitized(false).RenderValueAs(c => @Html.ActionLink("Details", "Details", new { id = c.BranchPaymentRequestId }));
        }
        }).WithPaging(20).Sortable(true)

    </div>

    @section Scripts {
        @Scripts.Render("~/Scripts/gridmvc.min.js")
    }

    @section Styles {
        <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    }

