﻿@model Dashboard.Web.Models.BranchPaymentRequest

@{
    ViewBag.Title = "Requests for Payment";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    body {
        margin-top: -10px;
        padding-top: 5px;
        margin-left: 25px;
    }

    h2 {
        padding-top: 10px;
    }
</style>


<h2 style=" padding-top: 10px;">Requests for Payment</h2>

<span class="alert" style="color: red">
    @Html.Raw(ViewBag.ErrorMsg)
</span>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @{
        var maxAvailForDraws = "";
        if (ViewBag.MaxAvailForDraws != null) {
           maxAvailForDraws = " = " + String.Format("{0:c}", Convert.ToDecimal(ViewBag.MaxAvailForDraws));
        }
    }

    <h4>Maximum amount available for draw thru the accounting close date @maxAvailForDraws</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.AmtRequestd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AmtRequestd)
            @Html.ValidationMessageFor(model => model.AmtRequestd)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Comment, 15, 200, null)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="IndexForNonAdmin?maxAvailForDraws=@ViewBag.MaxAvailForDraws">View History</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />


}

 @Scripts.Render("~/bundles/jquery")
 @Scripts.Render("~/bundles/bootstrap")


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Templates/Scripts/Utilities.js"></script>

<script type="text/javascript" for="window" event="onload()">
    var maxAvailForDraws = parseFloat(getParameterByName("maxAvailForDraws").replace(",", ""));
   
    document.getElementById("AmtRequestd").removeAttribute("data-val-range");
    document.getElementById("AmtRequestd").setAttribute("data-val-range", "The field Amount Requested must be between 0 and " + maxAvailForDraws + ".");

    $("form").removeData("validator");

    $("#AmtRequestd").attr('data-val-range-max', maxAvailForDraws)
    $("AmtRequestd").attr('data-val-range-min', 0)
    $.validator.unobtrusive.parse(document);

</script>